<a href="https://colab.research.google.com/github/Douglas-Milliken/Learningpython/blob/main/Learningpython1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables

# Declare a variable and initialize it

In [ ]:
f = 0
print (f)

0

# re-declaring the variable works

In [ ]:
f = "abc"
print (f)

abc

# ERROR: variables of different types cannot be combined
#print ("string type " + 123)

In [ ]:
print ("string type " + str(123))

string type 123

# Global vs. local variables in functions

In [ ]:
def someFunction():
  #global f
  f = "def"
  print (f)

someFunction()
print (f) 

del f
print(f)

def
abc

NameError: ignored

# Classes

# Example file for working with classes

In [ ]:
class myClass():
    def method1(self):
        print("myClass method1")

    def method2(self, someString):
        print("myClass method2: " + someString)


class anotherClass(myClass):
    def method2(self):
        print("anotherClass method2")

    def method1(self):
        myClass.method1(self)
        print("anotherClass method1")


def main():
    c = myClass()
    c.method1()
    c.method2("This is a string")
    c2 = anotherClass()
    c2.method1()


if __name__ == "__main__":
    main()

myClass method1
myClass method2: This is a string
myClass method1
anotherClass method1

# Conditionals

# conditional statements let you use "a if C else b"

In [ ]:
st = "x is less than y" if (x < y) else "x is greater than or equal to y"
print(st)

NameError: ignored

Python does not have support for higher-order conditionals
like "switch-case" in other languages

In [ ]:
if __name__ == "__main__":
    main()

myClass method1
myClass method2: This is a string
myClass method1
anotherClass method1

# Functions

# define a basic function

In [ ]:
def func1():
    print("I am a function")

# function that takes arguments

In [ ]:
def func2(arg1, arg2):
    print(arg1, " ", arg2)

# function that returns a value

In [ ]:
def cube(x):
    return x*x*x

# function with default value for an argument

In [ ]:
def power(num, x=1):
    result = 1
    for i in range(x):
        result = result * num
    return result

# function with variable number of arguments

In [ ]:
def multi_add(*args):
    result = 0
    for x in args:
        result = result + x
    return result


func1()
print(func1())
print(func1)
func2(10, 20)
print(func2(10, 20))
print(cube(3))
print(power(2))
print(power(2, 3))
print(power(x=3, num=2))
print(multi_add(4, 5, 10, 4))

I am a function
I am a function
None
<function func1 at 0x7fbedf78f200>
10   20
10   20
None
27
2
8
8
23

# Loops

# Example file for working with loops

In [ ]:
def main():
  x = 0

# define a while loop

In [ ]:
while (x < 5):
     print (x)
     x = x + 1

NameError: ignored

# define a for loop

In [ ]:
  for x in range(5,10):
    print (x)

5
6
7
8
9

# use a for loop over a collection

In [ ]:
  days = ["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]
  for d in days:
    print (d)

Mon
Tue
Wed
Thu
Fri
Sat
Sun

# use the break and continue statements

In [ ]:
  for x in range(5,10):
    #if (x == 7): break
    #if (x % 2 == 0): continue
    print (x)

5
6
7
8
9

#using the enumerate() function to get index

In [ ]:
  days = ["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]
  for i, d in enumerate(days):
    print (i, d)
  
if __name__ == "__main__":
    main()

0 Mon
1 Tue
2 Wed
3 Thu
4 Fri
5 Sat
6 Sun