<a href="https://colab.research.google.com/github/Douglas-Milliken/Learningpython/blob/main/Learningpython5_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Load & convert data from CSV file using Python built-in csv module

In [3]:
import bz2
import csv
from collections import namedtuple
from datetime import datetime

Column = namedtuple('Column', 'src dest convert')


def parse_timestamp(text):
    return datetime.strptime(text, '%Y-%m-%d %H:%M:%S')


columns = [
    Column('VendorID', 'vendor_id', int),
    Column('passenger_count', 'num_passengers', int),
    Column('tip_amount', 'tip', float),
    Column('total_amount', 'price', float),
    Column('tpep_dropoff_datetime', 'dropoff_time', parse_timestamp),
    Column('tpep_pickup_datetime', 'pickup_time', parse_timestamp),
    Column('trip_distance', 'distance', float),
]


def iter_records(file_name):
    with bz2.open(file_name, 'rt') as fp:
        reader = csv.DictReader(fp)
        for csv_record in reader:
            record = {}
            for col in columns:
                value = csv_record[col.src]
                record[col.dest] = col.convert(value)
            yield record


def example():
    from pprint import pprint

    for i, record in enumerate(iter_records('taxi.csv.bz2')):
        if i >= 10:
            break
        pprint(record)


example()

{'distance': 2.57,
 'dropoff_time': datetime.datetime(2018, 11, 1, 6, 43, 24),
 'num_passengers': 1,
 'pickup_time': datetime.datetime(2018, 10, 31, 7, 10, 55),
 'price': 20.54,
 'tip': 4.74,
 'vendor_id': 2}
{'distance': 3.58,
 'dropoff_time': datetime.datetime(2018, 10, 31, 16, 50, 10),
 'num_passengers': 5,
 'pickup_time': datetime.datetime(2018, 10, 31, 16, 38, 25),
 'price': 13.8,
 'tip': 0.0,
 'vendor_id': 2}
{'distance': 2.39,
 'dropoff_time': datetime.datetime(2018, 10, 31, 20, 31, 47),
 'num_passengers': 1,
 'pickup_time': datetime.datetime(2018, 10, 31, 20, 23, 41),
 'price': 11.3,
 'tip': 1.0,
 'vendor_id': 2}
{'distance': 0.5,
 'dropoff_time': datetime.datetime(2018, 10, 31, 22, 48, 28),
 'num_passengers': 1,
 'pickup_time': datetime.datetime(2018, 10, 31, 22, 44, 24),
 'price': 5.8,
 'tip': 0.0,
 'vendor_id': 2}
{'distance': 1.81,
 'dropoff_time': datetime.datetime(2018, 10, 31, 23, 35, 30),
 'num_passengers': 1,
 'pickup_time': datetime.datetime(2018, 10, 31, 23, 22, 18),
 'price': 13.56,
 'tip': 2.26,
 'vendor_id': 2}
{'distance': 7.91,
 'dropoff_time': datetime.datetime(2018, 10, 31, 23, 44, 33),
 'num_passengers': 1,
 'pickup_time': datetime.datetime(2018, 10, 31, 23, 27, 39),
 'price': 24.3,
 'tip': 0.0,
 'vendor_id': 2}
{'distance': 2.24,
 'dropoff_time': datetime.datetime(2018, 10, 31, 23, 46, 52),
 'num_passengers': 1,
 'pickup_time': datetime.datetime(2018, 10, 31, 23, 40, 55),
 'price': 11.62,
 'tip': 2.32,
 'vendor_id': 2}
{'distance': 2.31,
 'dropoff_time': datetime.datetime(2018, 10, 31, 23, 56, 44),
 'num_passengers': 1,
 'pickup_time': datetime.datetime(2018, 10, 31, 23, 45, 53),
 'price': 11.3,
 'tip': 0.0,
 'vendor_id': 2}
{'distance': 0.68,
 'dropoff_time': datetime.datetime(2018, 10, 31, 23, 52, 54),
 'num_passengers': 1,
 'pickup_time': datetime.datetime(2018, 10, 31, 23, 46, 42),
 'price': 6.8,
 'tip': 0.0,
 'vendor_id': 2}
{'distance': 1.65,
 'dropoff_time': datetime.datetime(2018, 11, 1, 0, 10, 33),
 'num_passengers': 1,
 'pickup_time': datetime.datetime(2018, 10, 31, 23, 47, 30),
 'price': 17.8,
 'tip': 2.0,
 'vendor_id': 2}

#accessing data using pandas

In [4]:
import pandas as pd

df = pd.read_csv('taxi.csv.bz2')
df.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
RatecodeID                 int64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
dtype: object

#Telling pandas that these are time columns

In [5]:
time_cols = ['tpep_pickup_datetime', 'tpep_dropoff_datetime']

df = pd.read_csv('taxi.csv.bz2', parse_dates=time_cols)
df.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   int64
trip_distance                   float64
RatecodeID                        int64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
dtype: object

#When you are loading a large file, specify the chunk size to read.

In [6]:
df = pd.read_csv('taxi.csv.bz2', parse_dates=time_cols, chunksize=1000)

#df is a text file reader

In [7]:
df

#It can be iterated over to get part of the data

In [8]:
for sub_df in df:
  print(len(sub_df))

1000
1000
1000
1000
1000
1000
1000
1000
1000
1000

#Load & converting data from CSV using Pandas

In [9]:
import pandas as pd

time_cols = ['tpep_dropoff_datetime', 'tpep_pickup_datetime']


def load_df(file_name):
    return pd.read_csv('taxi.csv.bz2', parse_dates=time_cols)


print(load_df('taxi.csv.bz2').head())


def iter_df(file_name):
    yield from pd.read_csv(
        'taxi.csv.bz2', parse_dates=time_cols, chunksize=100)


for i, df in enumerate(iter_df('taxi.csv.bz2')):
    if i > 10:
        break
    print(len(df))

   VendorID tpep_pickup_datetime  ... improvement_surcharge  total_amount
0         2  2018-10-31 07:10:55  ...                   0.3         20.54
1         2  2018-10-31 16:38:25  ...                   0.3         13.80
2         2  2018-10-31 20:23:41  ...                   0.3         11.30
3         2  2018-10-31 22:44:24  ...                   0.3          5.80
4         2  2018-10-31 23:22:18  ...                   0.3         13.56

[5 rows x 17 columns]
100
100
100
100
100
100
100
100
100
100
100