<a href="https://colab.research.google.com/github/Douglas-Milliken/Learningpython/blob/main/learningpython2_dates_times.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Example file for working with date information

In [1]:
from datetime import date
from datetime import time
from datetime import datetime

  ## DATE OBJECTS
  # Get today's date from the simple today() method from the date class

In [2]:
  today = date.today()
  print ("Today's date is ", today)

Today's date is  2021-03-21

# print out the date's individual components

In [3]:
print ("Date Components: ", today.day, today.month, today.year)

Date Components:  21 3 2021

# retrieve today's weekday (0=Monday, 6=Sunday)

In [4]:
  print ("Today's Weekday #: ", today.weekday())
  days = ["monday","tuesday","wednesday","thursday","friday","saturday","sunday"]
  print ("Which is a " + days[today.weekday()])

Today's Weekday #:  6
Which is a sunday

 ## DATETIME OBJECTS
  # Get today's date from the datetime class

In [6]:
today = datetime.now()
print  ("The current date and time is ", today)

The current date and time is  2021-03-21 02:32:54.350456

# Get the current time

In [10]:
t = datetime.time(datetime.now())
print ("The current time is ", t)

The current time is  02:33:52.376540

# Formatting

# Example file for formatting time and date output

In [15]:
from datetime import datetime

def main():
  # Times and dates can be formatted using a set of predefined string
  # control codes 
  now = datetime.now() # get the current date and time

 #### Date Formatting ####

In [16]:
# %y/%Y - Year, %a/%A - weekday, %b/%B - month, %d - day of month
  print (now.strftime("The current year is: %Y")) # full year with century
  print (now.strftime("%a, %d %B, %y")) # abbreviated day, num, full month, abbreviated year
  
  # %c - locale's date and time, %x - locale's date, %X - locale's time
  print (now.strftime("Locale date and time: %c"))
  print (now.strftime("Locale date: %x"))
  print (now.strftime("Locale time: %X"))

IndentationError: ignored

#### Time Formatting ####

In [17]:
  # %I/%H - 12/24 Hour, %M - minute, %S - second, %p - locale's AM/PM
  print (now.strftime("Current time: %I:%M:%S %p")) # 12-Hour:Minute:Second:AM
  print (now.strftime("24-hour time: %H:%M")) # 24-Hour:Minute

NameError: ignored

#timedelta objects

In [18]:
from datetime import date
from datetime import time
from datetime import datetime
from datetime import timedelta

# construct a basic timedelta and print it

In [19]:
print (timedelta(days=365, hours=5, minutes=1))

365 days, 5:01:00

# print today's date

In [20]:
now = datetime.now()
print ("today is: " + str(now))

today is: 2021-03-21 02:41:36.879286

# print today's date one year from now

In [21]:
print ("one year from now it will be: " + str(now + timedelta(days=365)))

one year from now it will be: 2022-03-21 02:41:36.879286

# create a timedelta that uses more than one argument

In [22]:
print ("in two weeks and 3 days it will be: " + str(now + timedelta(weeks=2, days=3)))

in two weeks and 3 days it will be: 2021-04-07 02:41:36.879286

# calculate the date 1 week ago, formatted as a string

In [23]:
t = datetime.now() - timedelta(weeks=1)
s = t.strftime("%A %B %d, %Y")
print ("one week ago it was " + s)

one week ago it was Sunday March 14, 2021

### How many days until April Fools' Day?

In [24]:
today = date.today()  # get today's date
afd = date(today.year, 4, 1)

 # get April Fool's for the same year
# use date comparison to see if April Fool's has already gone for this year
# if it has, use the replace() function to get the date for next year

In [25]:
if afd < today:
  print ("April Fool's day already went by %d days ago" % ((today-afd).days))
  afd = afd.replace(year=today.year + 1)  # if so, get the date for next year

# Now calculate the amount of time until April Fool's Day

In [26]:
time_to_afd = afd - today
print ("It's just", time_to_afd.days, "days until next April Fools' Day!")

It's just 11 days until next April Fools' Day!

# Calendars

# Example file for working with Calendars

In [27]:
import calendar

# create a plain text calendar

In [28]:
c = calendar.TextCalendar(calendar.SUNDAY)
str = c.formatmonth(2017, 1, 0, 0)
print (str)

    January 2017
Su Mo Tu We Th Fr Sa
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

# create an HTML formatted calendar

In [29]:
hc = calendar.HTMLCalendar(calendar.SUNDAY)
str = hc.formatmonth(2017, 1)
print (str)

<table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">January 2017</th></tr>
<tr><th class="sun">Sun</th><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th></tr>
<tr><td class="sun">1</td><td class="mon">2</td><td class="tue">3</td><td class="wed">4</td><td class="thu">5</td><td class="fri">6</td><td class="sat">7</td></tr>
<tr><td class="sun">8</td><td class="mon">9</td><td class="tue">10</td><td class="wed">11</td><td class="thu">12</td><td class="fri">13</td><td class="sat">14</td></tr>
<tr><td class="sun">15</td><td class="mon">16</td><td class="tue">17</td><td class="wed">18</td><td class="thu">19</td><td class="fri">20</td><td class="sat">21</td></tr>
<tr><td class="sun">22</td><td class="mon">23</td><td class="tue">24</td><td class="wed">25</td><td class="thu">26</td><td class="fri">27</td><td class="sat">28</td></tr>
<tr><td class="sun">29</td><td class="mon">30</td><td class="tue">31</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>

# loop over the days of a month
# zeroes mean that the day of the week is in an overlapping month

In [30]:
for i in c.itermonthdays(2017, 8):
  print (i)

0
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
0
0

# The Calendar module provides useful utilities for the given locale,
# such as the names of days and months in both full and abbreviated forms

In [31]:
for name in calendar.month_name:
  print (name)

for day in calendar.day_name:
  print (day)

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

# Calculate days based on a rule: For example, consider
# a team meeting on the first Friday of every month.
# To figure out what days that would be for each month,
# we can use this script:

In [34]:
print ("Team meetings will be on:")
for m in range(1,13):
  # returns an array of weeks that represent the month
  cal = calendar.monthcalendar(2017, m)
  # The first Friday has to be within the first two weeks
  weekone = cal[0]
  weektwo = cal[1]
   
  if weekone[calendar.FRIDAY] != 0:
    meetday = weekone[calendar.FRIDAY]
  else:
    # if the first friday isn't in the first week, it must be in the second
    meetday = weektwo[calendar.FRIDAY]
      
  print ("%10s %2d" % (calendar.month_name[m], meetday))

Team meetings will be on:
   January  6
  February  3
     March  3
     April  7
       May  5
      June  2
      July  7
    August  4
 September  1
   October  6
  November  3
  December  1